.nav-link {
    color: white;

    &:hover {
        color: #198754;
    }
}

.dropdown-item {
    &:hover {
        background-color: #0d6efd;
        color: white;
    }
}

.dropdown-menu {
    background-color: #198754;
    padding: 0;
    
    .dropdown-item {
        color: white;
    }

    .dropdown-item:hover {
        background-color: white;
        color: #198754;
        border-radius: 5px;
    }
}

.nav-tabs {
    .nav-item {
        .active {
            background-color: #198754 !important;
            color: white !important;
        }
    }
    .nav-item {
        .nav-link {
            color: white;

            &:hover {
                background-color: white;
                color: #198754;
            }
        }
    }
}